.cal {
    display: inline-block;
    color: #fff;
    white-space: nowrap;
    transition: background-color 0.2s ease-out 0s;
    cursor: pointer;
    text-transform: uppercase;
    margin-right: 30px;
}

.cal:focus {
    outline: none !important;
    border: 1px solid transparent;
}