.file-button {
    display: inline-block;
    color: #fff;
    white-space: nowrap;
    transition: background-color 0.2s ease-out 0s;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 15px;
    margin-right: 15px;
}

.file-button:focus {
    outline: none !important;
    border: 1px solid transparent;
}

.file-wrapper {
    margin-right: 15px;
    margin-left: 15px;
    float: right;
    border-left: 1px solid white;
}