


textarea {
    /* min-height: 45vh; */
    /* flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column; */

    align-items: stretch;
    height: 100%;
    position: fixed;

    width: 100%;
    padding: 20px;
    font-size: 25px;
    border: none;
    border-color: transparent;
    box-sizing: border-box;
    background-color: #282c34;
    color: #ffffff;
    resize: none;
}

textarea:focus {
    outline: none !important;
    border:1px solid transparent;
}

.component-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.simple-keyboard {
    bottom: 0;
    position: fixed;
    height: auto%;
}

#settings-bar {
    /* font-size: 20px; */
    background-color: transparent;
    padding: 15px 17.5px;
    color: #ffffff;


    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
/*Hack the keyboard lib because I need these to be bigger */
.hg-row {
    margin-bottom: 10px !important;
}

.hg-theme-default .hg-button {
    height: 85px !important;
    margin-right: 10px;
    font-size: 25px;
}


div:focus {
    background-color: rgb(218, 220, 228)
}