.App {
    text-align: center;
    min-height: 100vh;
    /* Pull keyboard to bottom of page */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #282c34;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    min-height: 50vh;
    height: auto;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Keyboard-wrapper {}

.Keyboard {}

.hg-theme-default .hg-button {
    height: 75px; /* Hack the keyboard lib because I need these to be bigger */
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}